<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/images/logo_nyI_icon.ico" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .asset-item {
            display:inline-block; width: 350px;text-align:center; border: 1px solid lightgray; margin:5px; padding:2px;
        }
        .asset-item:hover {
            border: 3px solid green;
            border-radius:5px;  
            padding:0;
            background:rgb(247, 251, 247);
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home/Index"><img src="~/images/logo.png" style="height:70px;margin-right:25px" /></a>
                @*@Html.ActionLink("LightLib", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Users", "Index", "ApplicationUsers")</li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Assets</a>
                    <ul class="dropdown-menu" role="menu" >
                        <li role="presentation">@Html.ActionLink("Books", "Book", "Assets") </li>
                        <li role="presentation">@Html.ActionLink("Magazines", "Magazine", "Assets") </li>
                        <li role="presentation">@Html.ActionLink("Movies", "Movie", "Assets") </li>
                        <li role="presentation">@Html.ActionLink("Documentation", "Documentation", "Assets") </li>
                        <li role="presentation">@Html.ActionLink("Games", "Game", "Assets") </li>
                        <li role="presentation">@Html.ActionLink("Music", "Music", "Assets") </li>
                    </ul>
                    </li>
                    <li>@Html.ActionLink("New User", "Create", "ApplicationUsers")</li>
                    <li>@Html.ActionLink("New Asset", "Create", "Assets")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container body-content" style="margin-top:45px">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year - Made with <i class="fa fa-fw fa-coffee"></i> and <i class="fa fa-google" aria-hidden="true"></i>
                by <a href="https://tpham20908.github.io/portfolio" target="_blank">Tung</a>, <a href="#">Yasser</a>, <a href="#">Roman</a> - IPD12
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
