@model LightLib.Models.LibraryUser

@{
    ViewBag.Title = "Library User Details";
}

<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    <h4>Library User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="text-uppercase">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="text-uppercase">
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>

    @Html.ActionLink("Rent Assets", "Rent", "LibraryUsers", new { id = Model.Id}, new { @class="btn btn-info"})
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
