@model IEnumerable<LightLib.Models.Asset>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Breadcrumbs*@
<p>
    @Html.ActionLink("Home", "Index", "Home") >
    @Html.ActionLink("Assets", "Index", "Asset") 
</p>
<hr />

<h2>Latest entries</h2>

<div style="display:inline-block; margin:0 auto ">
    @foreach (var a in Model)
    {

        <div class="asset-item" >
            <a href="~/Asset/Details/@a.Id">
                <div>
                    <div style="text-align:center">
                        <h4>
                            @if (a.Title.Length <= 34)
                            {
                                @a.Title
                            }
                            else
                            {
                                @a.Title.Substring(0, 34)<span>...</span>
                            }
                        </h4>
                    </div>
                    <div style="text-align:center">
                        <img src=@a.ImageUrl style="height:230px;" title="@a.Title" alt="@a.Title" /><br /><br />
                    </div>
                </div>
            </a>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div>
                        <input type="submit" value="Add to checkout" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
    }
</div>



