@model List<LightLib.Models.Asset>

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout</h2>

@if (Model.Count == 0)
{
    <h3>You have no selected items to rent</h3>
    <br /><br />
    <hr />
    <p> @Html.ActionLink("<< Go to previous page", null, null, null, new { href = Request.UrlReferrer })</p>
}
else
{
    <div style="width:500px">
        <table class="table">
            <tr>
                <th>
                    Asset to rent
                </th>
                <th>

                </th>

            </tr>
            @foreach (var a in Model)
            {
            <tr>
                <td>
                    @a.Title <br />@a.Author<br />@a.ReleasedYear
                </td>
                <td>
                    @Html.ActionLink("Remove", "Checkouts", "Home", new { removeId = a.Id }, new { @class = "btn btn-info" })
                </td>
             </tr>
             }


        </table>
       
        @if((Model.Count + (int)ViewBag.RentedNumber) > 5)
        {
            <h4 style="line-height:30px;"><span class="text-danger"><b>Maximum of rented assets may be exceeded!</b></span><br />
                You have already rented @ViewBag.RentedNumber asset(s)<br />
            <span class="text-info">(maximum of not returned assets is five per user)</span></h4>
        }
        else
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div>
                        <input type="submit" value="Rent selected assets" class="btn btn-primary" />
                    </div>
                </div>
             }
        }
        
    </div>
}

