@model IEnumerable<LightLib.Models.Asset>

@{
    ViewBag.Title = "JAC Light Library";
}
@*Breadcrumbs*@
<p> @Html.ActionLink("Home", "Index", "Home") </p>
<hr />

<div class="jumbotron">
    <h3>@ViewBag.Title</h3>
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">All categories</h3>
                </div>
                <div class="panel-body">
                    <a href="~/Asset">
                        <img src="~/images/i1.jpg"
                             class="img-responsive" />
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Popular assets</h3>
                </div>
                <div class="panel-body">
                    <a href="~/Asset">
                        <img src="~/images/i2.jpg"
                             class="img-responsive" />
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Books</h3>
                </div>
                <div class="panel-body">
                    <a href="~/Asset/Index?assetTypeid=1">
                        <img src="~/images/i3.jpg"
                             class="img-responsive" />
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Movies</h3>
                </div>
                <div class="panel-body">
                    <a href="~/Asset/Index?assetTypeid=3">
                        <img src="~/images/i4.jpg"
                             class="img-responsive" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="text-align:center">
    <div style="margin:0 auto">
        <h3 style="text-align:left; margin-left:50px;">Last entries</h3>

        <div style="display:inline-block; margin:0 auto ">
            @foreach (var a in Model)
            {

                <div class="asset-item">
                    <a href="~/Asset/Details/@a.Id">
                        <div>
                            <div style="text-align:center">
                                <h4>
                                    @if (a.Title.Length <= 34)
                                    {
                                        @a.Title
                                    }
                                    else
                                    {
                                        @a.Title.Substring(0, 34)<span>...</span>
                                    }
                                </h4>
                            </div>
                            <div style="text-align:center">
                                <img src=@a.ImageUrl style="height:230px;" title="@a.Title" alt="@a.Title" /><br /><br />
                            </div>
                        </div>
                    </a>
                    @if (a.User.IsEmpty())
                    {
                        <div class="form-group">
                            @Html.ActionLink("Add to checkout", "Index", "Asset", new { rentId = a.Id, assetTypeid = Request.QueryString["assetTypeid"] }, new { @class = "btn btn-primary" })
                        </div>
                    }
                    else
                    {
                        <p class="text-info">Available from <b>@a.RentDate.AddDays(15).ToShortDateString()</b></p>
                    }
                </div>
            }
        </div>
    </div>
</div>